<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Send Help plz</title>
    <link href="./css/main.css" rel="stylesheet"/>
</head>
    <body>
      <nav>
        <a href="index.html" class="button">Hem</a>
        <a href="bilder.html" class="button">Bilder</a>
        <a href="info.html" class="button">Info</a>
      </nav>
      <div class="cont">
        <main>
        <div class="ruta" onclick="togglethingy(this)" id="top">
          <h2>hej kms</h2>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id eros cursus, luctus neque nec, lobortis risus. Maecenas sed ex urna. Vivamus tempus nisl in risus porttitor, in maximus augue pretium. Quisque quis odio eget nibh fermentum mollis. Vivamus varius finibus risus quis rutrum. Phasellus nec felis ut massa pulvinar interdum. Nulla a tincidunt lorem, eget pellentesque nunc. Donec nisl justo, faucibus et orci sed, venenatis pretium purus. Vivamus mollis lectus sit amet erat vehicula, vel blandit massa laoreet.</p>
        </div>
        <div class="ruta" onclick="togglethingy(this)">
          <h2>hejdå kys</h2>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id eros cursus, luctus neque nec, lobortis risus. Maecenas sed ex urna. Vivamus tempus nisl in risus porttitor, in maximus augue pretium. Quisque quis odio eget nibh fermentum mollis. Vivamus varius finibus risus quis rutrum. Phasellus nec felis ut massa pulvinar interdum. Nulla a tincidunt lorem, eget pellentesque nunc. Donec nisl justo, faucibus et orci sed, venenatis pretium purus. Vivamus mollis lectus sit amet erat vehicula, vel blandit massa laoreet.</p>
        </div>
        <div class="ruta" onclick="togglethingy(this)">
          <h2>hejdå kys</h2>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id eros cursus, luctus neque nec, lobortis risus. Maecenas sed ex urna. Vivamus tempus nisl in risus porttitor, in maximus augue pretium. Quisque quis odio eget nibh fermentum mollis. Vivamus varius finibus risus quis rutrum. Phasellus nec felis ut massa pulvinar interdum. Nulla a tincidunt lorem, eget pellentesque nunc. Donec nisl justo, faucibus et orci sed, venenatis pretium purus. Vivamus mollis lectus sit amet erat vehicula, vel blandit massa laoreet.</p>
        </div>
        <div class="ruta" onclick="togglethingy(this)">
          <h2>hejdå kys</h2>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id eros cursus, luctus neque nec, lobortis risus. Maecenas sed ex urna. Vivamus tempus nisl in risus porttitor, in maximus augue pretium. Quisque quis odio eget nibh fermentum mollis. Vivamus varius finibus risus quis rutrum. Phasellus nec felis ut massa pulvinar interdum. Nulla a tincidunt lorem, eget pellentesque nunc. Donec nisl justo, faucibus et orci sed, venenatis pretium purus. Vivamus mollis lectus sit amet erat vehicula, vel blandit massa laoreet.</p>
        </div>
        <div class="ruta" onclick="togglethingy(this)">
          <h2>hejdå kys</h2>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id eros cursus, luctus neque nec, lobortis risus. Maecenas sed ex urna. Vivamus tempus nisl in risus porttitor, in maximus augue pretium. Quisque quis odio eget nibh fermentum mollis. Vivamus varius finibus risus quis rutrum. Phasellus nec felis ut massa pulvinar interdum. Nulla a tincidunt lorem, eget pellentesque nunc. Donec nisl justo, faucibus et orci sed, venenatis pretium purus. Vivamus mollis lectus sit amet erat vehicula, vel blandit massa laoreet.</p>
        </div>
        <div class="ruta" id="bot" onclick="togglethingy(this)">
          <h2>hejdå kys</h2>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id eros cursus, luctus neque nec, lobortis risus. Maecenas sed ex urna. Vivamus tempus nisl in risus porttitor, in maximus augue pretium. Quisque quis odio eget nibh fermentum mollis. Vivamus varius finibus risus quis rutrum. Phasellus nec felis ut massa pulvinar interdum. Nulla a tincidunt lorem, eget pellentesque nunc. Donec nisl justo, faucibus et orci sed, venenatis pretium purus. Vivamus mollis lectus sit amet erat vehicula, vel blandit massa laoreet.</p>
        </div>
      </main>
      <aside>
        <div class="ruta" id="tob">
          <h2>hejdå kys</h2>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id eros cursus, luctus neque nec, lobortis risus. Maecenas sed ex urna. Vivamus tempus nisl in risus porttitor, in maximus augue pretium. Quisque quis odio eget nibh fermentum mollis. Vivamus varius finibus risus quis rutrum. Phasellus nec felis ut massa pulvinar interdum. Nulla a tincidunt lorem, eget pellentesque nunc. Donec nisl justo, faucibus et orci sed, venenatis pretium purus. Vivamus mollis lectus sit amet erat vehicula, vel blandit massa laoreet.</p>
        </div>
      </aside>
      </div>
      <footer>
        <p>HELLO WORLD!</p>
      </footer>
    </body>
    <script src="./js/main.js"></script>
</html>
