body{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0;
  margin: 0;
}

nav{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  background-color: blue;
  width: 100%;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
}

.ruta{
  color: white;
  background-color: #353535;
  margin: 20px;
  margin-bottom: 0px;
}

p, h2{
  margin-left: 10px;
  margin-right: 10px;
  font-family: roboto;
}

a{
  font-family: roboto;
}

.bild{
  border: black solid 20px;
  margin: auto;
  margin-top: 150px;
}

#top{
  margin-top: 100px;
}

@media (max-width:361px) #mobil{

}

@media (min-width:362px)#desktop{
  .main{
    display: flex;
    width: 60%;
  }
}
